{% layout 'default-layout.liquid' %}
{% block content %}
<h3>Security details</h3>
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>DB</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
      <tr>
        <th scope='row'>
          <a href='{{ DOCROOT }}/secexp/details/{{db.database_name}}'>{{ db.database_name }}</a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
